/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY STYLE */
body{
  background-color: #227C9D;
  color: white;
}

/* HEADER STYLE */
header{
  max-width: 500px;
  margin: 20px auto;
}

/* MAIN STYLE */

.container{
  flex-wrap: wrap;
  max-width: 600px;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 60px;
  height: 60px;
  margin: 8px;
  background-color: #17C3B2;
  font-size: 0.8rem;
}

.buzz{
  background-color: #FFCB77;
}

.fizz{
  background-color: #FEF9EF;
}

.fizzbuzz{
  background-color: #FE6D73;
}
