*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #083B4C;
  color: white;
}

header{
  max-width: 500px;
  margin: 20px auto;
}

.container{
  flex-wrap: wrap;
  max-width: 600px;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 60px;
  height: 60px;
  margin: 8px;
  background-color: #1489B2;
  font-size: 0.8rem;
}

.buzz{
  background-color: #FFD166;
}

.fizz{
  background-color: #0DD6A1;
}

.fizzbuzz{
  background-color: #F2476F;
}

.i{
  display: none;
}
